name: Run Unit Tests

on:
  push:
    branches: [ "main", "Refactoring" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests with Pytest
      # This command runs pytest and tells it to look in the current folder (.)
      # ensuring it can find your modules.
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        pytest tests/
